{% extends 'gifts/base.html' %}

{% block content %}

<br>
<a href = {% url 'create_wish' %}>Create a new wish</a>
<table>
    <tr>
        <td>Tite</td>
        <td>Detail</td>
        <td>Link</td>
        <td></td>
        <td></td>
    </tr>
    {% for wish in wishes %}
    <tr>
        <td>{{ wish.title }}</td>
        <td>{{ wish.detail }}</td>
        {% if wish.link %}
        <td><a href="{{ wish.link }}">Link</a> </td>
        {% else %}
        <td>N/A</td>
        {% endif %}
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    {% endfor %}
</table>



{% endblock %}
