{% extends 'gifts/base.html' %}

{% block content %}

<form method="get">
    <label for="recipient">Filter by recipient:</label>
    <select name="recipient_id" id="recipient">
        <option value="">-- All --</option>
        {% for recipient in recipients %}
            <option value="{{ recipient.id }}" {% if recipient.id == selected_recipient_id %}selected{% endif %}>
                {{ recipient.username }}
            </option>
        {% endfor %}
    </select>
    <button type="submit">Apply</button>
</form>
<br>

<br>
{% if wishes %}
<table>
    <tr>
        <td>User</td>
        <td>Title</td>
        <td>Detail</td>
        <td>Link</td>
        <td></td>
    </tr>
    {% for wish in wishes %}
    <tr>
        <td>{{ wish.user.username }}</td>
        <td>{{ wish.title }}</td>
        <td>{{ wish.detail }}</td>
        {% if wish.link %}
        <td><a href="{{ wish.link }}" target="_blank" rel="noopener noreferrer">Link</a> </td>
        {% else %}
        <td>N/A</td>
        {% endif %}
        <td>
            {% if not wish.claimed %}
            <form action="{% url 'claim_wish' wish.id %}?recipient_id={{ selected_recipient_id }}" method="post">
                {% csrf_token %}
                <button type="submit">CLAIM</button>
            </form>
            {% elif wish.claimed_by == request.user %}
            <form action="{% url 'unclaim_wish' wish.id %}?recipient_id={{ selected_recipient_id }}" method="post">
                {% csrf_token %}
                <button type="submit">UNCLAIM</button>
            </form>

            {% else %}
            CLAIMED
            {% endif %}


        </td>
        
    </tr>
    {% endfor %}

</table>
{% else %}
<p>No wishes available.</p>
{% endif %}
<br>



{% endblock %}